body {
    background: url('../../dist/images/park.jpg') center/cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img:not(.icon) {
    border: 4px solid var(--main-accent-color);
    border-radius: 50%;
}

button {
    font-size: 1.1rem;
    padding: 0.3rem 0.8rem;
    font-weight: bold;
    color: var(--main-accent-color);
    background-color: var(--white-color);
    border: 4px solid currentColor;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

