header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
    gap: 1.5rem;

    h1 {
        text-transform: capitalize;
    }

    .dog-icon {
        width: 50px;
        transform: scale(0.65);
    }

    button {
        margin-top: -0.45rem;
    }

    nav {
        align-self: stretch;
        align-items: center;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        background-color: var(--secondary-accent-color);

        ul {
            display: flex;
            gap: 2rem;
            margin-right: 1rem;

            .nav-link {
                font-size: 1.1em;
                color: var(--white-color);
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}